<!DOCTYPE >
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/default" th:with="currentPage='utilisateurList'">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link href="https://cdn.usebootstrap.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />    <!-- Morris Chart Styles-->
    <link href="/css/admin/style.css" rel="stylesheet" />
</head>
<body>
    <div id="wrapper">
        <div th:insert="fragments/adminHeader" th:with="section=overVeiw"></div>
        <div id="page-wrapper">
            <div class="row">
                <div class="panel-heading" style="margin-top: 10px">
                    <h1 class="page-header">Liste des utilisateurs</h1>
                </div>
                <div class="panel">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Prénom </th>
                                        <th>Nom</th>
                                        <th>Email</th>
                                        <th>Etat</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="u:${users}">
                                        <td th:text="${u.Id}"></td>
                                        <td th:text="${u.Prenom}"></td>
                                        <td th:text="${u.Nom}"></td>
                                        <td th:text="${u.Email}"></td>
                                        <td class="lastColumn"><!-- squareActive  squareDesactive-->
                                            <span class="squareActive" th:if="${u.Active == true}">Actif</span>
                                            <span class="squareDesactive" th:if="${u.Active == false}">Inactif</span>
                                            <div class="dropdown addCursor" style="padding-right: 30px">
                                                <i class="fa-solid fa-ellipsis-vertical" style="padding:4 8px;" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item dropDownLink diviseur" th:href="@{deleteAccount(idC=${u.Id})}" style="display: block;">Supprimer utilisateur</a>
                                                    <a class="dropdown-item dropDownLink" th:href="@{enableAccount(idC=${u.Id})}" th:if="${u.Active == false}" style="display: block;">Activer utilisateur</a>
                                                    <a class="dropdown-item dropDownLink" th:href="@{disableAccount(idC=${u.Id})}" th:if="${u.Active == true}" style="display: block;">Desactiver utilisateur</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                
                <nav aria-label="Page navigation example" style="width: 100%;text-align: center;margin-top: 30px;border-top:1px solid lightgray ;">
                    <ul class="pagination pg-blue">
                          <li class="page-item">
                            <a th:href="@{/utilisateurs(page=${currentPage2-1})}" class="page-link" tabindex="-1">Previous</a>
                          </li>
                          <li class="page-item" th:each="page,status:${pages}"  th:class="${status.index == currentPage2 ?'active':''}"><a class="page-link" th:href="@{/utilisateurs(page=${status.index},totPages=${totPages})}" th:text="${status.index+1}"></a></li>
                          <li class="page-item">
                            <a th:href="@{/utilisateurs(page=${currentPage2+1},totPages=${totPages})}" class="page-link">Next</a>
                          </li>
                        </ul>
                  </nav>
            </div>
            
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <script src="./custom-scripts.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>