
.logInContainer{
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	max-width: 900px;
	z-index: 9999;
}

.logInContainer h2 {
	margin-bottom: 40px;
}

.logInContainer form .field{
	margin-bottom: 30px;
}

.logInContainer form .field input {
	width: 100%;
	height: 45px;
	padding: 2px 8px;
	outline: none;
	border-radius: 6px;
	border: 1px solid lightgray;
}


.logInContainer form .field input:active , .logInContainer form .field input:focus{
	border: 1px solid blue;
}


.logInContainer form  .submitBTN {
	height: 45px;
}

.logInContainer form .submitBTN input{
	height: 100%;
	width: 100%;
	outline: none;
	border: 1px solid transparent;
	background:  #3B71FE;
	color:white;
}

.logInContainer form .submitBTN input:hover{
	border: 1px solid #3B71FE;
	background:  white;
	color:#3B71FE;
}


.bottom-parte {
	margin-top : 30px;
	text-align: center;
}

.errorDiv {
	border :1px solid red;
	width: 100%;
	font-size: 12px;
	color: black;
	text-align: center;
	padding: 20px;
	margin: 18px 0;
	background-color: pink;
}


.grayColor{
	color:gray;
	margin-bottom: 70px;
}
